{% extends "data/main.html" %}
{% load crispy_forms_tags %}
{% block content %}
<br>
<div class="container-fluid">
    <div class="row justify-content-md-center">
        <div class="col-md-8">
            <div class="card card-body">
                <form action="" method="POST">
                    {% csrf_token %}
                        {{ form | crispy }}
                        <br>
                        <input type="submit" class="btn btn-primary" value="Save"/>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}